## Importing Modules

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
import re

In [5]:
num = int(input("How many users: "))
users_data = []
while num >= 1:
    username = (input("Please enter username: ")).lower()

    url = ("https://github.com/{}").format(username)

    web_data = requests.get(url)

    data = web_data.content

    beautify = bs(data,"lxml")

    #getting name of user
    name_of_user = beautify.find("span",attrs={'class':'p-name vcard-fullname d-block overflow-hidden'})
    name_of_user = name_of_user.text


    #getting number of repo
    no_of_repo = beautify.find("span",attrs={'class':'Counter'})

    no_of_repo =no_of_repo.text

    no_of_repo = no_of_repo.replace("\n","")

    no_of_repo = no_of_repo.strip()


    #Contributions
    contribution = beautify.find("h2",attrs={'class':'f4 text-normal mb-2'})
    contribution =contribution.text
    contribution = contribution.replace("\n","")
    contribution = re.sub(' +', ' ',contribution)
    contribution = contribution.lstrip()

    
    con = contribution.replace(" contributions in the last year ","")
    
    #Creating a Dataframe
    data = [[username],[name_of_user],[no_of_repo],[con]]
    Table = pd.DataFrame(data,["username","Name","Num of Repo","Num of Contribution"],["Details"])
    users_data.append(Table)
    num = num - 1


pd.concat(users_data,ignore_index=False,axis=1)

How many users: 8
Please enter username: adekunle5880
Please enter username: olahfemi
Please enter username: izunna-norbert
Please enter username: aminuisrael
Please enter username: dareeyolad
Please enter username: david-dynamic
Please enter username: sage-hermit
Please enter username: qodri4

,Details,Details,Details,Details,Details,Details,Details,Details
username,adekunle5880,olahfemi,izunna-norbert,aminuisrael,dareeyolad,david-dynamic,sage-hermit,qodri4
Name,,Olah Femi Johnson,Agu Izunna Norbert,Aminu Israel,,,Gerald D Peter,
Num of Repo,3,19,2,6,1,0,2,3
Num of Contribution,9,14,7,33,3,1 contribution in the last year,3,9

## Saving Data to .csv

In [6]:
data = pd.concat(users_data,ignore_index=False,axis=1)

data.to_csv("user_data.csv")